# Getting to know Pandas 

Pandas can be as simple or as complex as you need it to be. As an analysis toolkit, it's designed to be flexible and provide a wide range of functionality so that the same tool can be used for a variety of tasks. Because of this, it can be a little overwhelming at first. In this notebook we will introduce some of the essential pandas functionality and list a few best practices that will make learning pandas easier as you go.

By now, you should be comfortable with:

* Reading in a CSV file
* Inspecting the first five rows of your data
* Selecting columns / filtering rows
* Creating new columns from existing columns

If not, please review [AFU PDA 2 - Pandas basics](./AFU PDA 2 - Pandas basics.ipynb)

## What's covered here

In this notebook you will learn:

* Basic indexing and working with dates
* Reading data from multiple sources
* Merging data (joins/vlookup)
* Groupby, pivot_table, transform, melt

Along the way, you will also learn pandas best practices in how to write your code. For further reading on mastering pandas syntax, [Minimally sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428) is an excellent resource.

# Tutorial Overview
This tutorial is divided into 4 parts:

* Test your knowledge
* Basic indexing
* Slicing, merging, and grouping data
* Exercises: Your turn!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.width", 160)

%matplotlib inline

# Test your knowledge
Before starting, try to complete the excercise below. This tests your knowledge on topics covered in [AFU PDA 2 - Pandas basics](./AFU PDA 2 - Pandas basics.ipynb)

Step 1: Choose a file to load

In [5]:
# we want to load the sales_fake.csv in the data directory
directory = '../data/' 
## START YOUR CODE HERE
file_name = 'sales_fake.csv'
## END YOUR CODE HERE
path = directory + file_name

# check to make sure you have the right path
print(path)

../data/sales_fake.csv

Step 2: Read your file into a pandas data frame and view the top 5 rows

In [6]:
# remember, pandas has built-in methods for reading data. 
# If you can't remember which one to use, try pd.read<TAB> to view the available methods

## START YOUR CODE HERE
# read the csv
df = pd.read_csv(path)
# view the top 5 rows
# remember, each dataframe also has built-in methods for working with the data.
# if you can't remember which one to use, try df.<TAB> to view the available methods
df.head()
## END YOUR CODE HERE

   marketplace_id   order_day  order_week             gl product_family         units           ops
0               1  2017-01-01  2017-01-07  Amazon_Pantry    Consumables   9460.696331  46576.224274
1               1  2017-01-02  2017-01-07  Amazon_Pantry    Consumables  13828.318507  61148.434296
2               1  2017-01-03  2017-01-07  Amazon_Pantry    Consumables  12308.348366  59960.632711
3               1  2017-01-04  2017-01-07  Amazon_Pantry    Consumables  11912.807101  58991.544654
4               1  2017-01-05  2017-01-07  Amazon_Pantry    Consumables  10817.883315  54032.017658

# Basic Indexing

Pandas dataframes are a collection of rows and columns, organized by an index. The index is analogous to row numbers in excel or primary keys in SQL. Understanding and working with indexes allows us to easily filter, group, and manipulate our data. Additionally, pandas understands different types of indexes. Most notably, pandas has a DatetimeIndex which makes working dates very easy.

To begin, we will read in some data, inspect the index and set a new index. After that, we will explore the functionality with our new index

In [7]:
# use the same file from before
df = pd.read_csv(path)

In [8]:
print("What type of index?")
print("-> ", df.index, "\n")

print("Inspect some values:")
print("-> ", df.index.values, "\n")

# show the first 5 rows
df.head()

What type of index?
->  RangeIndex(start=0, stop=20605, step=1)

Inspect some values:
->  [    0     1     2 ... 20602 20603 20604]

   marketplace_id   order_day  order_week             gl product_family         units           ops
0               1  2017-01-01  2017-01-07  Amazon_Pantry    Consumables   9460.696331  46576.224274
1               1  2017-01-02  2017-01-07  Amazon_Pantry    Consumables  13828.318507  61148.434296
2               1  2017-01-03  2017-01-07  Amazon_Pantry    Consumables  12308.348366  59960.632711
3               1  2017-01-04  2017-01-07  Amazon_Pantry    Consumables  11912.807101  58991.544654
4               1  2017-01-05  2017-01-07  Amazon_Pantry    Consumables  10817.883315  54032.017658

If I know the index, I can pull rows by their index

In [9]:
print(df.loc[3])

marketplace_id                1
order_day            2017-01-04
order_week           2017-01-07
gl                Amazon_Pantry
product_family      Consumables
units                   11912.8
ops                     58991.5
Name: 3, dtype: object

Or I can pull a whole range using `START:END` notation. This is known as "Slicing". For `[1:3]`, this means start index 1 and go up to 3 but don't include 3.

In [10]:
print(df.loc[1:3])

   marketplace_id   order_day  order_week             gl product_family         units           ops
1               1  2017-01-02  2017-01-07  Amazon_Pantry    Consumables  13828.318507  61148.434296
2               1  2017-01-03  2017-01-07  Amazon_Pantry    Consumables  12308.348366  59960.632711
3               1  2017-01-04  2017-01-07  Amazon_Pantry    Consumables  11912.807101  58991.544654

An integer index alone isn't particularly useful, so lets set a datetime index. Before we do that, we need to first understand data types in Python.

Basic data types are `float`, `integer`, `string`. A more advanced data type that python understands is `datetimes`. This is similar to programs like excel which will automatically try to detect a date column and treat it differently than a string or an integer.

Lets look at the data types in our current dataframe:

In [11]:
df.dtypes

marketplace_id      int64
order_day          object
order_week         object
gl                 object
product_family     object
units             float64
ops               float64
dtype: object

An object in python generally refers to a string or anything else that python wasn't able to automatically detect. As you can see, order_day and order_week are objects but we would like them to be dates.

In [12]:
# make a list of columns you want to change
columns_to_change = ['order_day', 'order_week']

# go through each column and update its dtype using pandas built-in function
for column in columns_to_change:
    df[column] = pd.to_datetime(df[column])

# check the output
df.dtypes

marketplace_id             int64
order_day         datetime64[ns]
order_week        datetime64[ns]
gl                        object
product_family            object
units                    float64
ops                      float64
dtype: object

In [13]:
# this gets me a whole new set of methods related to dates
new_dt_column = df['order_day']
new_dt_column.dt.weekday_name[:5]

0       Sunday
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
Name: order_day, dtype: object

Now we have a column that pandas understands is a date. If you notice, our date column also matches our index, so instead of using the row index, let's index our data frame by date

In [14]:
df = df.set_index('order_day')
df.head()

            marketplace_id order_week             gl product_family         units           ops
order_day
2017-01-01               1 2017-01-07  Amazon_Pantry    Consumables   9460.696331  46576.224274
2017-01-02               1 2017-01-07  Amazon_Pantry    Consumables  13828.318507  61148.434296
2017-01-03               1 2017-01-07  Amazon_Pantry    Consumables  12308.348366  59960.632711
2017-01-04               1 2017-01-07  Amazon_Pantry    Consumables  11912.807101  58991.544654
2017-01-05               1 2017-01-07  Amazon_Pantry    Consumables  10817.883315  54032.017658

Now, instead of a row number, we have a date for our index. Let's revisit our index methods

In [15]:
# get data for a particular date
print(df.loc['2017-01-15'].head())
# get data for a slice
print(df.loc['2017-02-15':'2017-02-20'].head())
# get data for a month
print(df.loc['2017-07'].head())

            marketplace_id order_week                      gl product_family         units            ops
order_day
2017-01-15               1 2017-01-21           Amazon_Pantry    Consumables  12174.306544   57837.266537
2017-01-15               1 2017-01-21                 Apparel      Softlines  32991.826769  665125.652486
2017-01-15               1 2017-01-21                     Art      Hardlines      0.601876     115.510917
2017-01-15               1 2017-01-21  Art and Craft Supplies      Hardlines    183.130444    2103.539509
2017-01-15               1 2017-01-21              Automotive      Hardlines  10286.426235  316251.803210
            marketplace_id order_week             gl product_family         units           ops
order_day
2017-02-15               1 2017-02-18  Amazon_Pantry    Consumables  10982.606964  55494.591548
2017-02-16               1 2017-02-18  Amazon_Pantry    Consumables   9354.823004  44892.387528
2017-02-17               1 2017-02-18  Amazon_Pantry    Consumables   9113.475067  42946.939243
2017-02-18               1 2017-02-18  Amazon_Pantry    Consumables   9778.683842  44941.324668
2017-02-19               1 2017-02-25  Amazon_Pantry    Consumables  11208.681505  52897.504183
            marketplace_id order_week             gl product_family         units           ops
order_day
2017-07-01               1 2017-07-01  Amazon_Pantry    Consumables   8396.918460  42775.732391
2017-07-02               1 2017-07-08  Amazon_Pantry    Consumables   9188.083025  45335.083949
2017-07-03               1 2017-07-08  Amazon_Pantry    Consumables   8920.569081  44754.698657
2017-07-04               1 2017-07-08  Amazon_Pantry    Consumables   9013.543224  42904.258757
2017-07-05               1 2017-07-08  Amazon_Pantry    Consumables  11078.478506  54626.674158

Now that our index knows about dates, we easily get some calendar view. For example, lets look at units by Month and Quarter:

In [16]:
print(df.resample('Q')['units'].sum()) 
print(df.resample('M')['units'].sum())

order_day
2017-03-31    4.244779e+07
2017-06-30    4.499966e+07
2017-09-30    4.924478e+07
2017-12-31    6.415063e+07
Freq: Q-DEC, Name: units, dtype: float64
order_day
2017-01-31    1.468871e+07
2017-02-28    1.296491e+07
2017-03-31    1.479417e+07
2017-04-30    1.441700e+07
2017-05-31    1.550550e+07
2017-06-30    1.507717e+07
2017-07-31    1.665600e+07
2017-08-31    1.700644e+07
2017-09-30    1.558234e+07
2017-10-31    1.689117e+07
2017-11-30    2.105286e+07
2017-12-31    2.620659e+07
Freq: M, Name: units, dtype: float64

# You try!

Using the same dataframe above (you can make sure it's there by running all the cells up til now), complete the following questions to test your understanding:

Step 1: create a new dataframe using the date index

In [17]:
# filter to data for November and December and save it to a new df called nov_to_dec
nov_to_dec = df.loc['2017-11':'2017-12']

nov_to_dec.head()

            marketplace_id order_week             gl product_family         units           ops
order_day
2017-11-01               1 2017-11-04  Amazon_Pantry    Consumables  11129.938755  57374.915375
2017-11-02               1 2017-11-04  Amazon_Pantry    Consumables  11036.026525  52465.788951
2017-11-03               1 2017-11-04  Amazon_Pantry    Consumables  10965.167199  48428.995346
2017-11-04               1 2017-11-04  Amazon_Pantry    Consumables  11401.431162  47517.117904
2017-11-05               1 2017-11-11  Amazon_Pantry    Consumables  13946.609159  69121.564445

Step 2: Re-index your new data frame by product_family

In [18]:
# hint: nov_to_dec.<TAB> will show you the available methods
nov_to_dec_reindexed = nov_to_dec.reset_index()

nov_to_dec_reindexed.head()

   order_day  marketplace_id order_week             gl product_family         units           ops
0 2017-11-01               1 2017-11-04  Amazon_Pantry    Consumables  11129.938755  57374.915375
1 2017-11-02               1 2017-11-04  Amazon_Pantry    Consumables  11036.026525  52465.788951
2 2017-11-03               1 2017-11-04  Amazon_Pantry    Consumables  10965.167199  48428.995346
3 2017-11-04               1 2017-11-04  Amazon_Pantry    Consumables  11401.431162  47517.117904
4 2017-11-05               1 2017-11-11  Amazon_Pantry    Consumables  13946.609159  69121.564445

Step 3: Get the data only for "Consumables"

In [19]:
# hint: remember, df.loc lets you grab data by index label
nov_to_dec_consumables = nov_to_dec[nov_to_dec["product_family"]=="Consumables"]

nov_to_dec_consumables.head()

            marketplace_id order_week             gl product_family         units           ops
order_day
2017-11-01               1 2017-11-04  Amazon_Pantry    Consumables  11129.938755  57374.915375
2017-11-02               1 2017-11-04  Amazon_Pantry    Consumables  11036.026525  52465.788951
2017-11-03               1 2017-11-04  Amazon_Pantry    Consumables  10965.167199  48428.995346
2017-11-04               1 2017-11-04  Amazon_Pantry    Consumables  11401.431162  47517.117904
2017-11-05               1 2017-11-11  Amazon_Pantry    Consumables  13946.609159  69121.564445

Step 4: Sum units in nov_to_dec_consumables and divide it by all units in nov_to_dec. This tells you what percentage Consumables was of all product families in November and December

In [20]:
total_consumables_nov_to_dec = nov_to_dec_consumables['units'].sum()

In [21]:
# hint: we still have a dataframe indexed by date, nov_to_dec. Try using that
total_units_nov_to_dec = nov_to_dec['units'].sum()

In [22]:
# run this cell

print(
    "Consumables were {:.1%} of all units From November to December.".format(
        total_consumables_nov_to_dec / total_units_nov_to_dec
    )
)

Consumables were 21.3% of all units From November to December.

Normally, this isn't how you would go about getting an answer like this using pandas, but it does demonstrate how to easy it is to work with data using slices and indexes. We could have accomplished the same thing using special functions, filtering, or groupby's. Groupby is what we will cover next!

# Groupby's and aggregations

In the last example, we used resample to sum over units to see aggregations by different calendar dimensions. This highlights one of pandas most powerful features: **GroupBy**'s and **Aggregations**.

GroupBy's provide a very flexible way to organize your data and Aggregations create summary views. GroupBy/Aggregate in pandas is much like pivot tables in excel, with lots of extras on top. Pandas also includes `pivot_table`, `melt`, and `transform` methods for shaping data. If interested, we cover those in more depth in [AFU PDA 3 - Pandas - Groupby, pivot_table, transform and melt](./AFU PDA 3 - Pandas - Groupby, pivot_table, transform and melt.ipynb)

At a high level, a GroupBy is a logical way to split your data and then apply some operation to each split before returning the results. This is known as Split-Apply-Combine:

<img src='img/split-apply-combine.PNG'>

To get the sum of units and OPS by each product_family, first create a groupby object (this is similar to a dataframe, except broken up into chunks as in the picture above).  Then, pick the columns you want to aggregate (units and ops in this case) and apply the .sum() method.  Pandas will automatically aggregate each product family "chunk" and combine them into a single dataframe.

GroupBy is one of panda's most versatile features. Be sure to checkout panda's documentation on [Split-Apply-Combine](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

In [23]:
sales_by_product_family = df.groupby('product_family')[['units', 'ops']].sum()
print(sales_by_product_family)

                       units           ops
product_family
Consumables     4.901449e+07  9.719792e+08
Hardlines       1.084074e+08  3.384190e+09
Media           2.177083e+07  3.887892e+08
Softlines       2.165010e+07  6.960792e+08

In SQL, this is equivalent to:

`SELECT
    product_family
    ,SUM(units) AS units
    ,SUM(ops) AS ops
FROM
    df
GROUP BY
    product_family
;`

The above example involves using the .sum() method on a groupby object, but there is a more general approach that we recommend, using .aggregate().  In Python, and especially Pandas, there are many different ways to perform the same operation, and .aggregate() is a versatile method that can help narrow down your options.

In [24]:
sales_by_product_family = df.groupby('product_family')[['units', 'ops']].aggregate('sum')
print(sales_by_product_family)

                       units           ops
product_family
Consumables     4.901449e+07  9.719792e+08
Hardlines       1.084074e+08  3.384190e+09
Media           2.177083e+07  3.887892e+08
Softlines       2.165010e+07  6.960792e+08

This is particularly helpful if you want to use different aggregate functions for different columns, which you'll see in the next couple of examples.

Next, let's look at gl units by quarter, using the .resample() method:

In [25]:
gl_by_qtr = df.groupby(['gl'])[['units','ops']].resample('Q').sum().head(n=12)
gl_by_qtr

                                 units           ops
gl            order_day
Amazon_Pantry 2017-03-31  9.829016e+05  4.718324e+06
              2017-06-30  9.329351e+05  4.540742e+06
              2017-09-30  1.038855e+06  4.956196e+06
              2017-12-31  1.024466e+06  4.786795e+06
Apparel       2017-03-31  2.849410e+06  5.725589e+07
              2017-06-30  3.180649e+06  6.310535e+07
              2017-09-30  3.388291e+06  6.667977e+07
              2017-12-31  5.245171e+06  1.077820e+08
Art           2017-03-31  8.418909e+01  1.441788e+04
              2017-06-30  1.345359e+02  1.710297e+04
              2017-09-30  1.314513e+02  1.100645e+05
              2017-12-31  1.132866e+02  3.070729e+04

Let's look at a more general case without using resample:

In [26]:
column_list = ['product_family']
aggregations = {'units':['sum','mean'],'ops':['min','max']}

df.groupby(column_list).aggregate(aggregations)

                       units                     ops
                         sum          mean       min           max
product_family
Consumables     4.901449e+07   8985.240642  0.090388  3.381976e+06
Hardlines       1.084074e+08  10219.404387  0.440191  6.605131e+06
Media           2.177083e+07   8431.769999  0.139558  1.614658e+06
Softlines       2.165010e+07  11045.968597  0.556560  2.670796e+06

In [27]:
def summarize_data(df, cols, aggs):
    return df.groupby(cols).aggregate(aggs)

column_list = ['product_family', df.index.quarter]
aggregations = {'units':['min','max'],'ops':['sum','mean']}

summarize_data(df, column_list, aggregations)

                               units                          ops
                                 min            max           sum           mean
product_family order_day
Consumables    1            0.034692   50756.372305  2.075939e+08  152754.905636
               2            0.034680   52561.869777  2.210532e+08  167211.198720
               3            0.034708  106296.996434  2.401105e+08  176163.223037
               4            0.034667  113244.908337  3.032216e+08  214898.338796
Hardlines      1            0.219582   40986.010161  6.673806e+08  255505.596678
               2            0.034649   43616.066234  7.531589e+08  284963.657763
               3            0.351740  105444.099619  8.287705e+08  310633.603211
               4            0.034984  255925.390692  1.134880e+09  422674.009058
Media          1            0.034676   71345.396536  9.344613e+07  143763.276162
               2            0.034624   49615.001452  7.574689e+07  117619.393752
               3           15.723320   85005.037182  9.872314e+07  153296.801970
               4           16.189308  128430.054502  1.208731e+08  187691.089175
Softlines      1            0.036805   38445.603531  1.367929e+08  301971.036737
               2          795.038976   43718.094501  1.570315e+08  345124.103621
               3            0.034658  110204.330606  1.713518e+08  342703.524756
               4          198.405226  134754.967246  2.309031e+08  418302.697030

# Pivot a dataframe using the .pivot_table() function

Just as in Excel, we can pivot our data, which typically involves swapping rows with columns and applying an aggregate function:

In [28]:
df_pivot = pd.pivot_table(data=df, index=df.index, columns='product_family', values='units', aggfunc='sum')
df_pivot.head()

product_family    Consumables      Hardlines         Media     Softlines
order_day
2017-01-01      104467.010325  211688.484896  52140.007166  39835.061817
2017-01-02      137732.111356  279720.766123  69765.862960  50933.915968
2017-01-03      132243.179295  279593.050424  76703.362539  46512.437495
2017-01-04      130234.835836  264975.041811  75100.633735  47089.022667
2017-01-05      120421.207782  258053.916394  73082.137475  47399.367667

Here, the "index" argument determines the row grouping (just like "rows" in an Excel pivot table).  The "columns" and "values" arguments are also the same as their Excel counterparts.

Note: a dataframe's columns can have indices just like its rows can.  An unintended consequence of using .pivot_table() is that it adds an index to the new dataframe's columns, so we'll use the line below to undo this:

In [29]:
df_pivot.columns = list(df_pivot.columns)

# Unpivot a dataframe using the .melt() function

Now we'll essentially undo the pivot transformation we just applied. Reversing a pivot is difficult in Excel, but it's one line in Pandas with .melt(). This function doesn't work very well with indices, so first we'll reset the order_day index so it becomes a column again:

In [30]:
df_pivot = df_pivot.reset_index()
df_pivot.head()

   order_day    Consumables      Hardlines         Media     Softlines
0 2017-01-01  104467.010325  211688.484896  52140.007166  39835.061817
1 2017-01-02  137732.111356  279720.766123  69765.862960  50933.915968
2 2017-01-03  132243.179295  279593.050424  76703.362539  46512.437495
3 2017-01-04  130234.835836  264975.041811  75100.633735  47089.022667
4 2017-01-05  120421.207782  258053.916394  73082.137475  47399.367667

In [31]:
df_unpivot = pd.melt(frame=df_pivot, id_vars=['order_day'], value_name='units', var_name='product_family')

# then set the index back to order_day
df_unpivot = df_unpivot.set_index('order_day')

df_unpivot.head()

           product_family          units
order_day
2017-01-01    Consumables  104467.010325
2017-01-02    Consumables  137732.111356
2017-01-03    Consumables  132243.179295
2017-01-04    Consumables  130234.835836
2017-01-05    Consumables  120421.207782

We have now unpivoted product_family so it is a column again.  Keep in mind we could have done this all in one line, including resetting and setting the index, but we broke it out into steps for illustration.

# Exercises: You try!

1) What is the GL with the highest OPS? (_hint:_ you can use the df.groupby(cols).aggregate({} syntax)

In [45]:
df.groupby('gl').aggregate({'ops':'sum'})['ops'].nlargest()

gl
PC                        4.221376e+08
Health & Personal Care    3.727017e+08
Home                      3.404439e+08
Apparel                   2.948230e+08
Wireless                  2.604885e+08
Name: ops, dtype: float64

2) What percentage of the Consumables OPS does Amazon Pantry have?

In [37]:
df[(df['gl']=='Amazon_Pantry') & (df['product_family']=='Consumables')]['ops'].sum() / df[df['product_family']=='Consumables']['ops'].sum()

0.019549860811198094

3) What date had the highest total OPS?

In [46]:
df['ops'].idxmax() # this returns the index for the row in df['ops'] with the .max() value

Timestamp('2017-11-27 00:00:00')

4) Create pivot table of OPS with gl as the row headers and order_day as the columns

In [47]:
df.pivot_table(values= 'ops', index = 'gl', columns = 'order_day')

order_day                           2017-01-01    2017-01-02    2017-01-03    2017-01-04    2017-01-05     2017-01-06     2017-01-07     2017-01-08    2017-01-09    2017-01-10  ...    2017-12-22     2017-12-23    2017-12-24    2017-12-25    2017-12-26    2017-12-27    2017-12-28    2017-12-29    2017-12-30    2017-12-31
gl                                                                                                                                                                               ...
Amazon_Pantry                     46576.224274  6.114843e+04  5.996063e+04  5.899154e+04  5.403202e+04   51928.496274   61172.924939   63383.543121  5.821150e+04  5.285262e+04  ...  2.795247e+04   25863.896954  1.878236e+04  2.566206e+04  5.436277e+04  5.462908e+04  5.840137e+04  5.614708e+04  5.096925e+04  4.642429e+04
Apparel                          518385.466484  6.623158e+05  6.288446e+05  6.768550e+05  6.406175e+05  596412.157884  691937.966129  714923.515652  6.934735e+05  6.222569e+05  ...  8.238651e+05  580099.161833  4.978391e+05  6.823170e+05  9.522871e+05  9.590389e+05  9.082524e+05  8.510218e+05  7.684187e+05  6.921696e+05
Art                                 134.004846  1.942962e+02  8.720298e+01  9.745591e+01  1.552267e+02     167.495657      92.785449     141.812250  3.274877e+01  1.234564e+02  ...  1.216920e+02      79.593028  2.953275e+02  7.179918e+01  5.830757e+01  9.089160e+01  1.483489e+01  1.316105e+02  2.083224e+01  4.951967e+01
Art and Craft Supplies             1973.414864  2.297702e+03  2.281373e+03  2.305350e+03  2.316957e+03    2197.718275    2209.776651    2809.462790  2.175329e+03  2.114215e+03  ...  5.693392e+03    2806.706719  2.062221e+03  3.395585e+03  4.493052e+03  4.597432e+03  4.307272e+03  3.489073e+03  3.368008e+03  2.875328e+03
Automotive                       281442.376425  3.855640e+05  3.808311e+05  3.813907e+05  3.611299e+05  340747.444892  326953.640067  344014.434532  3.733829e+05  3.680268e+05  ...  3.832572e+05  328676.287172  2.635753e+05  3.167934e+05  5.220134e+05  4.952357e+05  4.710639e+05  4.459765e+05  4.090563e+05  3.223932e+05
Baby                             194193.327805  2.552986e+05  2.402196e+05  2.155808e+05  2.170896e+05  186290.543770  212208.011196  231301.653721  2.216316e+05  2.067340e+05  ...  1.802510e+05  137415.271657  1.041553e+05  1.298765e+05  2.559942e+05  2.604417e+05  2.564969e+05  2.524372e+05  2.400722e+05  1.954617e+05
Beauty                           479415.488944  5.944935e+05  5.588277e+05  5.337757e+05  5.316271e+05  470699.957861  505548.552018  547890.746005  5.011247e+05  4.747617e+05  ...  6.141837e+05  472066.410093  3.590891e+05  4.645807e+05  6.786474e+05  7.294482e+05  6.627847e+05  6.725486e+05  6.449613e+05  5.179577e+05
Biss                              95245.396917  1.481909e+05  2.044894e+05  2.264700e+05  2.091792e+05  181901.653913  122703.969921  127961.078261  2.235601e+05  2.120468e+05  ...  1.985145e+05  112350.462774  7.906367e+04  9.521223e+04  1.995270e+05  2.314848e+05  2.387126e+05  2.222787e+05  1.478823e+05  1.421530e+05
Books                            640274.443833  9.549175e+05  1.197001e+06  1.182931e+06  1.081670e+06  927515.164528  738663.623642  853111.445407  1.403776e+06  1.416396e+06  ...  6.939132e+05  414856.000504  3.247715e+05  4.111223e+05  7.017016e+05  7.810182e+05  7.487924e+05  7.591506e+05  6.406607e+05  5.251130e+05
Camera                           228127.158454  3.066761e+05  3.256328e+05  3.111772e+05  3.115571e+05  272390.230867  242586.009897  300594.001482  2.975485e+05  3.143490e+05  ...  4.201503e+05  286550.196238  2.267815e+05  3.501082e+05  4.463638e+05  4.142560e+05  3.962701e+05  3.718388e+05  3.129247e+05  2.833519e+05
Consumables_Email_Gift_Cards       6523.563411  7.347541e+03  7.191356e+03  6.536087e+03  6.602412e+03    7001.700236    6779.395964    6071.533468  6.203728e+03  6.133926e+03  ...  6.058787e+04   62959.531999  5.988294e+04  5.781595e+04  3.142933e+04  2.821860e+04  3.219600e+04  3.331871e+04  2.445854e+04  2.300390e+04
Consumables_Physical_Gift_Cards    6430.034752  8.648406e+03  9.880837e+03  8.884095e+03  8.024248e+03    7576.881370    5766.926328    6338.880467  7.923806e+03  8.428915e+03  ...  1.028238e+05   45142.805248  2.378540e+04  2.320457e+04  3.685867e+04  3.567500e+04  3.007938e+04  2.442927e+04  1.790575e+04  1.423342e+04
Electronics                      255097.545116  3.297960e+05  3.154413e+05  3.096523e+05  2.999975e+05  264755.068539  261180.833678  269454.302143  3.256980e+05  2.967887e+05  ...  4.402161e+05  320546.970719  2.602229e+05  3.843138e+05  5.250861e+05  4.831631e+05  4.295698e+05  3.940235e+05  3.276508e+05  2.923908e+05
Entertainment Collectibles          843.293860  3.854259e+04  8.623325e+02  7.997294e+02  8.371620e+02     620.634862     912.392329     863.412673  3.258052e+04  7.857980e+02  ...  1.593303e+03     827.728411  7.343095e+02  1.144647e+03  1.102458e+03  1.098098e+03  7.480178e+02  9.139325e+02  8.002271e+02  7.602453e+02
Food and Beverage                          NaN  2.353628e+00           NaN           NaN           NaN       2.340309            NaN       1.074320  4.657227e+00           NaN  ...           NaN            NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN
Furniture                        249341.662081  3.407011e+05  2.800299e+05  2.743074e+05  2.761265e+05  245617.025640  288407.108429  287564.595093  2.768701e+05  2.563312e+05  ...  2.627516e+05  212669.802491  1.662254e+05  2.811377e+05  4.053643e+05  3.712802e+05  3.812213e+05  3.541598e+05  3.485051e+05  2.916961e+05
GUILD                              6619.068204  9.193482e+03  8.206980e+03  8.046500e+03  7.878397e+03    7122.402037    8096.390428    9445.308280  8.029601e+03  7.126766e+03  ...  1.618554e+04   11247.858284  8.105521e+03  1.126491e+04  1.535181e+04  1.378779e+04  1.307805e+04  1.355441e+04  1.292281e+04  1.099097e+04
Gift Card                        155770.324829  1.835494e+05  2.388214e+05  2.197570e+05  1.923209e+05  191682.122893  149179.905728  146301.137281  1.888172e+05  2.101573e+05  ...  1.015935e+06  813312.200190  1.206865e+06  1.011058e+06  5.548129e+05  4.156610e+05  3.290080e+05  4.012382e+05  2.436579e+05  2.521779e+05
Gourmet                               1.264793  1.270641e+00  4.649876e-01  4.423244e-01  4.465710e-01       0.301251       0.296402       0.759652           NaN  3.204995e+00  ...  3.003080e+00       0.798261           NaN           NaN  1.993435e+00  1.731726e+00  1.613195e+00  7.256415e-01  8.385859e-01  1.477022e+00
Grocery                          260740.613948  3.290282e+05  3.267862e+05  3.158432e+05  3.125061e+05  292678.031454  272406.120096  309805.591905  3.238420e+05  3.308621e+05  ...  3.395171e+05  270866.368632  2.165437e+05  2.190633e+05  3.689175e+05  3.794977e+05  3.905525e+05  3.606342e+05  3.474475e+05  2.993876e+05
Health & Personal Care           782927.203717  1.069761e+06  9.947433e+05  1.013240e+06  9.454077e+05  863591.801292  814035.733727  941786.697399  9.906128e+05  1.005742e+06  ...  1.053050e+06  765232.625368  6.569451e+05  7.297253e+05  1.161161e+06  1.280579e+06  1.254846e+06  1.218066e+06  1.130514e+06  9.662510e+05
Home                             730319.840262  9.500958e+05  8.233293e+05  8.006321e+05  7.764333e+05  763819.262681  834179.082556  884960.475055  8.182429e+05  8.214065e+05  ...  9.828697e+05  747426.291410  5.480836e+05  7.462459e+05  1.206307e+06  1.243193e+06  1.188523e+06  1.100476e+06  1.079444e+06  1.002516e+06
Home Entertainment               107576.082843  1.226412e+05  1.213029e+05  1.209610e+05  1.230752e+05  109964.924470  106673.597696  105810.855404  1.196820e+05  1.406262e+05  ...  1.428300e+05  115657.675157  1.298716e+05  1.288135e+05  1.903710e+05  1.852682e+05  1.729811e+05  1.637691e+05  1.428958e+05  1.285119e+05
Home Improvement                 395312.246267  5.480730e+05  5.068525e+05  5.158568e+05  4.774076e+05  438471.201771  435483.000614  498808.666896  5.292993e+05  4.824609e+05  ...  5.202604e+05  407325.161748  2.756609e+05  3.528110e+05  6.103073e+05  6.616534e+05  6.371905e+05  6.076575e+05  5.650216e+05  4.834449e+05
Jewelry                           75118.288311  8.341580e+04  1.329712e+05  1.064986e+05  1.140223e+05   97064.205136  190814.414838   65750.494463  1.122407e+05  8.954645e+04  ...  1.903918e+05  120161.489046  1.306178e+05  1.724166e+05  1.318116e+06  3.187251e+05  1.057321e+05  4.240504e+05  6.998028e+05  6.219600e+05
Kitchen                          492038.654522  5.974979e+05  5.509671e+05  5.490500e+05  4.679666e+05  462025.769362  513639.168366  539548.088153  4.883056e+05  4.806295e+05  ...  8.668985e+05  591944.911087  4.423898e+05  5.701393e+05  7.864070e+05  7.322697e+05  7.133631e+05  6.721920e+05  6.719077e+05  5.641187e+05
Lawn and Garden                  181959.426665  2.531917e+05  2.136286e+05  2.192280e+05  1.966810e+05  183380.398567  214356.235326  215625.375355  2.305519e+05  1.993039e+05  ...  2.503068e+05  208230.352766  1.711532e+05  1.895558e+05  2.950547e+05  2.860596e+05  2.692152e+05  2.713100e+05  2.622013e+05  2.141525e+05
Loose Stones                               NaN           NaN           NaN           NaN           NaN            NaN            NaN            NaN           NaN           NaN  ...           NaN            NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN
Luggage                           37993.595400  5.812004e+04  5.340797e+04  5.021256e+04  4.827996e+04   44208.186193   47794.176166   57103.729356  5.124569e+04  5.145553e+04  ...  6.369751e+04   43587.822066  3.306819e+04  4.535539e+04  6.550904e+04  6.609016e+04  6.521593e+04  5.754007e+04  5.178135e+04  4.852239e+04
Luxury Beauty                     30183.104734  4.207798e+04  3.615978e+04  3.788248e+04  3.671169e+04   30278.255863   35060.071476   37600.329738  3.674330e+04  3.153739e+04  ...  5.731799e+04   41584.909817  3.473060e+04  3.733782e+04  6.161332e+04  5.752726e+04  5.947494e+04  5.969545e+04  5.138806e+04  4.682357e+04
...                                        ...           ...           ...           ...           ...            ...            ...            ...           ...           ...  ...           ...            ...           ...           ...           ...           ...           ...           ...           ...           ...
Music                             46619.241053  4.857726e+04  4.528010e+04  5.021732e+04  4.449371e+04   42509.091708   45719.984420   43742.463441  4.179798e+04  3.941557e+04  ...  6.143404e+04   44023.679422  3.705166e+04  5.650463e+04  5.715072e+04  5.054268e+04  5.007253e+04  4.927889e+04  4.428571e+04  3.989402e+04
Musical Instruments              103905.125363  1.354463e+05  1.375047e+05  1.342156e+05  1.343747e+05  114282.406113  109404.408400  122881.078207  1.360132e+05  1.340100e+05  ...  1.696958e+05  117411.582951  9.501567e+04  1.437174e+05  1.742076e+05  1.684914e+05  1.521000e+05  1.489155e+05  1.260728e+05  1.046352e+05
Office Products                  249648.849450  4.155179e+05  5.876160e+05  6.264628e+05  6.175269e+05  489857.519506  276946.998875  312159.598997  5.774228e+05  6.282098e+05  ...  4.519866e+05  271089.094813  1.856397e+05  2.323581e+05  5.139444e+05  6.343329e+05  6.062525e+05  5.786100e+05  3.605398e+05  3.278894e+05
Outdoors                         251749.357992  3.491684e+05  2.897946e+05  3.135773e+05  2.878966e+05  259815.057654  318084.371770  361111.935782  3.333220e+05  2.981462e+05  ...  3.491348e+05  226421.316733  1.862041e+05  2.956099e+05  4.318017e+05  3.930822e+05  3.647906e+05  3.326520e+05  3.186895e+05  2.727864e+05
PC                               613596.673978  8.513627e+05  1.046765e+06  1.218623e+06  1.039843e+06  997983.034202  723780.035646  724597.360783  1.070486e+06  1.081059e+06  ...  1.210875e+06  759812.954985  6.202482e+05  1.008025e+06  1.390673e+06  1.381120e+06  1.392553e+06  1.224976e+06  9.791927e+05  8.561666e+05
Personal_Care_Appliances           3954.626314  5.175730e+03  6.223184e+03  5.040492e+03  4.621815e+03    4096.082191    4318.742389    4869.003923  4.719739e+03  4.494597e+03  ...  3.456634e+03    2182.995054  1.939268e+03  2.394818e+03  3.500293e+03  3.607405e+03  3.265386e+03  3.289357e+03  2.714994e+03  2.618573e+03
Pet Products                     279174.173041  3.585044e+05  3.265632e+05  3.127475e+05  3.180877e+05  291231.924589  305927.718093  328302.687606  3.270247e+05  3.002980e+05  ...  3.617628e+05  314429.322593  2.557603e+05  2.607905e+05  4.409813e+05  4.131339e+05  4.364373e+05  4.176490e+05  4.024264e+05  3.529001e+05
Prescription_Drugs                         NaN           NaN           NaN           NaN           NaN            NaN            NaN            NaN           NaN           NaN  ...           NaN            NaN           NaN           NaN  1.065429e+00           NaN           NaN           NaN           NaN           NaN
Prescription_Eyewear                       NaN           NaN           NaN           NaN           NaN            NaN            NaN            NaN           NaN           NaN  ...  2.517676e-01            NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN
Shoes                            433222.393981  5.877331e+05  5.441071e+05  5.592099e+05  5.431511e+05  491670.113540  564569.026284  565133.823875  5.273594e+05  5.226012e+05  ...  5.752755e+05  399002.312709  3.585831e+05  5.813331e+05  7.131666e+05  6.476657e+05  6.771574e+05  6.041473e+05  6.013758e+05  5.093467e+05
Softlines Private Label                    NaN           NaN           NaN           NaN           NaN            NaN            NaN            NaN           NaN           NaN  ...  1.136501e+04    7023.603665  5.141266e+03  7.066649e+03  1.208364e+04  1.235664e+04  1.175061e+04  1.061108e+04  1.021384e+04  8.347921e+03
Software                          25247.831452  2.993586e+04  3.149541e+04  3.040792e+04  2.934520e+04   25359.614326   21902.652506   44351.321560  4.050761e+04  3.001526e+04  ...  1.634621e+04   10069.326614  7.688331e+03  9.176863e+03  1.904018e+04  2.832608e+04  5.688739e+04  2.476750e+04  1.723820e+04  1.777670e+04
Sports                           513804.717755  6.694608e+05  6.145468e+05  5.645909e+05  5.072284e+05  500502.336439  534707.144024  559556.906296  5.270994e+05  5.135567e+05  ...  6.851887e+05  470353.283832  4.594966e+05  5.720218e+05  7.485635e+05  7.229546e+05  6.998503e+05  6.621454e+05  6.011306e+05  5.322332e+05
Sports Memorabilia                 3070.938703  4.091672e+03  2.921629e+03  8.081496e+03  2.247494e+03    3531.318953    2542.948353    6704.982804  3.324149e+03  1.863857e+04  ...  6.886807e+03    6856.064654  4.266912e+03  4.374931e+03  4.661399e+03  3.688182e+03  3.338473e+03  3.101030e+03  3.194314e+03  2.596650e+03
Tires                             12763.205488  1.757400e+04  1.840891e+04  1.949517e+04  1.741690e+04   16377.289122   13712.142213   14219.216104  1.918797e+04  1.681782e+04  ...  1.859512e+04   15037.270061  1.086935e+04  1.323342e+04  2.593035e+04  2.484261e+04  2.144086e+04  2.209784e+04  1.835226e+04  1.506324e+04
Tools                            162471.413928  2.165249e+05  2.254652e+05  2.201986e+05  2.216773e+05  191925.766661  171938.063475  186571.874648  2.330298e+05  2.095007e+05  ...  2.698355e+05  178404.550551  1.439698e+05  1.955255e+05  2.993928e+05  2.966903e+05  3.052884e+05  2.752795e+05  2.386433e+05  2.263603e+05
Toys                             359066.851836  4.322047e+05  3.892965e+05  3.773561e+05  3.601708e+05  334185.159162  369550.624672  394502.341579  4.007032e+05  3.873706e+05  ...  9.398250e+05  479295.366176  3.254682e+05  5.442973e+05  6.243393e+05  5.823622e+05  5.487206e+05  4.639480e+05  4.147381e+05  3.669551e+05
Universal                                  NaN           NaN  6.745674e-01           NaN           NaN       0.707388       0.717268            NaN           NaN           NaN  ...           NaN            NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN
VALUE_ADDED_SERVICES               2765.215119  4.085650e+03  3.881270e+03  3.126706e+03  3.370942e+03    3151.536627    2800.078431    2702.746345  3.650618e+03  2.983392e+03  ...  3.841691e+03    2910.864544  2.410776e+03  2.819338e+03  5.130020e+03  5.040681e+03  5.017230e+03  5.419078e+03  4.276463e+03  3.895686e+03
Video                               315.220962  3.173262e+02  2.810033e+02  2.658605e+02  3.285105e+02     332.023545     283.992310     333.090132  3.379241e+02  2.311391e+02  ...  3.055707e+02     230.500093  2.615365e+02  3.336063e+02  3.842957e+02  3.045728e+02  3.515412e+02  3.925244e+02  3.774731e+02  2.788154e+02
Video DVD                        106207.588096  1.141518e+05  1.093169e+05  1.055093e+05  9.808528e+04  100715.026811   99581.659447  103153.849261  9.984101e+04  9.882164e+04  ...  1.248970e+05   87381.280656  7.358976e+04  1.138473e+05  1.254729e+05  1.159994e+05  1.101168e+05  1.162626e+05  9.544234e+04  9.805270e+04
Video Games                      159621.271174  1.654356e+05  1.673342e+05  1.815041e+05  1.584336e+05  149305.176487  153974.706492  167703.878622  1.532300e+05  1.403749e+05  ...  3.404221e+05  206680.261140  1.765187e+05  4.078574e+05  3.667183e+05  3.008005e+05  2.628907e+05  2.499203e+05  2.068832e+05  1.762245e+05
Watches                          246264.760107  1.327233e+05  2.816055e+05  2.232954e+05  3.043913e+05  272021.914676  100541.120565  254691.272232  3.316157e+05  5.399277e+05  ...  2.843699e+05  210343.416666  1.296046e+05  1.768071e+05  2.052681e+05  3.415534e+05  2.674107e+05  2.294348e+05  1.266637e+05  3.202581e+05
Wine                                596.092775  6.879566e+02  9.506030e+02  8.061782e+02  7.284870e+02     716.582866    1027.039662     631.696586  6.901491e+02  5.994054e+02  ...  2.299211e+03    1598.184581  1.127932e+03  9.463651e+02  1.484668e+03  6.611871e+02  2.343485e+02  2.930915e+02  2.343709e+02  8.606725e+01
Wireless                         527675.040781  6.754099e+05  6.284134e+05  6.723534e+05  5.969309e+05  592553.789693  557728.141800  546437.603280  5.801045e+05  6.038879e+05  ...  8.643967e+05  615142.483773  5.247669e+05  8.269018e+05  1.071079e+06  9.921958e+05  8.801006e+05  8.863305e+05  7.047525e+05  5.638442e+05
Wireless_Accessory                         NaN  3.681048e+00  2.006153e+01           NaN           NaN            NaN            NaN            NaN           NaN           NaN  ...           NaN            NaN           NaN           NaN           NaN           NaN           NaN  1.215577e+00           NaN  1.240256e+00
gl_fresh_ambient                           NaN           NaN           NaN           NaN           NaN            NaN            NaN            NaN           NaN           NaN  ...           NaN            NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN
gl_fresh_perishable                9999.671216  1.358416e+04  1.219348e+04  1.111642e+04  1.119290e+04   11575.707891   13511.406562   14056.708224  1.237247e+04  1.109567e+04  ...  1.721376e+04   12796.729289  1.774202e+03  5.052028e+03  1.530073e+04  1.680576e+04  1.843775e+04  1.964583e+04  1.852681e+04  7.920538e+03
gl_fresh_prepared                   602.525840  8.436623e+02  7.296116e+02  6.597253e+02  6.696083e+02     725.680446     840.635653     982.153559  7.225584e+02  6.659355e+02  ...  7.619054e+02     604.225982  9.605631e+01  2.254601e+02  8.704173e+02  9.474637e+02  9.686108e+02  1.043543e+03  9.730308e+02  4.512642e+02

# Combining multiple data sets with pandas using Merge

In [48]:
import pandas as pd
%matplotlib inline

# define variables as much as possible
# this makes your code more re-usable and readable
# remember, a variable is where a value is stored, a string is the value
# file_path: variable to tell me where to find the file
# holidays_url: url for a list of holidays on github

holidays_url = 'https://gist.githubusercontent.com/shivaas/4758439/raw/'

In [49]:
# show reading a file without a header
holidays = pd.read_csv(holidays_url)
holidays.head()

   1  2012-01-02                           New Year Day
0  2  2012-01-16             Martin Luther King Jr. Day
1  3  2012-02-20  Presidents Day (Washingtons Birthday)
2  4  2012-05-28                           Memorial Day
3  5  2012-07-04                       Independence Day
4  6  2012-09-03                              Labor Day

In [50]:
# passing in the file names 
holidays = pd.read_csv(holidays_url, header=None, names=['date','holiday'])

# add in holiday date types
holidays.head()
holidays.dtypes

date       object
holiday    object
dtype: object

In [51]:
holidays['date'] = pd.to_datetime(holidays['date'])
holidays = holidays.set_index('date')

In [52]:
sales_data_with_holidays = pd.merge(df, holidays, right_index=True, left_index=True, how='left')

In [53]:
# sales_data_with_holidays['holiday'] = sales_data_with_holidays['holiday'].fillna('No holiday')
sales_data_with_holidays.columns

Index(['marketplace_id', 'order_week', 'gl', 'product_family', 'units', 'ops', 'holiday'], dtype='object')

In [54]:
sales_data_with_holidays[~sales_data_with_holidays['holiday'].isnull()].head()

            marketplace_id order_week                      gl product_family         units            ops       holiday
2017-01-02               1 2017-01-07           Amazon_Pantry    Consumables  13828.318507   61148.434296  New Year Day
2017-01-02               1 2017-01-07                 Apparel      Softlines  33581.730644  662315.758715  New Year Day
2017-01-02               1 2017-01-07                     Art      Hardlines      0.594952     194.296205  New Year Day
2017-01-02               1 2017-01-07  Art and Craft Supplies      Hardlines    182.589249    2297.702145  New Year Day
2017-01-02               1 2017-01-07              Automotive      Hardlines  11318.818093  385564.035064  New Year Day

# Extensions

This section lists some ideas for extending the tutorial that you may wish to explore.
* Describe three examples when Pandas would be better than using Excel directly.
* Complete the next example that uses Pandas to clean a dataset. 

# Further Reading
This section provides more resources on the topic if you are looking to go deeper.

## Books
* Python for Data Analysis, by William McKinney. http://shop.oreilly.com/product/0636920023784.do

## APIs
* Pandas. https://pandas.pydata.org/

## Articles
* Getting started with Pandas in 5 minutes, on Towards Data Science. https://medium.com/bhavaniravi/python-pandas-tutorial-92018da85a33
* My Pandas Cheat Sheet, on Towards Data Science. https://towardsdatascience.com/my-python-pandas-cheat-sheet-746b11e44368
    
# Summary

In this tutorial, you used Pandas for more advanced data analysis. Specifically, you learned:
* Basic indexing and working with dates
* Reading data from multiple sources
* Merging data (joins/vlookup)
* Groupby, pivot_table, transform, melt

# Next

In the next section, you will use Pandas to explore a dataset.